/**
 * Style the footer
 *
 */
footer {
    padding-left: 20px;

    div.top {
        position: fixed;
        bottom: 5px;
        right: 5px;

        a {
            text-transform: uppercase;
            background-color: $tertiary;
            color: $light;
            padding: 10px;
        }
    }
}

