/**
 * Copyright Accordo Partners 2013
 *
 * @author Josh Fyne
 */

@import "variables";
@import "header";
@import "side";
@import "index";
@import "events";
@import "partners";
@import "footer";

html {
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary;
    background-image: url('/assets/img/corner.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30% auto;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    body {
        font-family: 'Roboto', sans-serif;
        color: $primary;
        background-image: none;
    }
}

hr {
    border: 1px solid;
    margin: 2em;
}

h1 {
    font-size: 36px;
}

h1,h2,h3 {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: $tertiary;
}

a {
    color: $secondary;
    text-decoration: none;
}

section, .card {
    position: relative;
    padding:20px;
    background: $light;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.btn {
    background-color: $tertiary;
    padding:10px;
    margin: 5px;
    color: $light;
    text-transform: uppercase;
    &:hover {
        background-color: $secondary;
        color: $light;
    }
}

#content {
    clear: both;
}
