/**
 * Style event panels
 *
 */
#expos {
    padding: 0;
    margin: 0;
    ul {
        list-style: none;
        padding: 0;
        li {
            float: left;
            padding-right: 20px;
        }

        @media only screen and (max-width: 768px) {
            li {
                float: none;
                padding: 0;
            }
        }
    }
}

#sectors {
    margin: 0;
    padding: 0;
    clear: both;
}
