/**
 * Copyright Accordo Partners 2013
 *
 * @author Josh Fyne
 */

@import "_variables.less";
@import "_header.less";
@import "_footer.less";

body {
    font-family: 'Roboto', sans-serif;
    color: @primary;
}

hr {
    border: 1px solid;
    margin: 2em;
}

h1,h2,h3 {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: @tertiary;
}

a {
    color: @secondary;
    text-decoration: none;
}

.btn {
    background-color: @primary;
    padding:10px;
    color: @light;
}

#content {
    clear: both;
}
