@(content: Map[String,Seq[String]], categories:Map[String, Seq[Expo]])
@main(content("experience.title").head) {
    <div class="row-fluid">
        <div class="span2">
            <nav class="side">
                <ul>
                    <li><a href="#business">@content.get("experience.business.title").head</a></li>
                    <li><a href="#sectors">@content.get("experience.sectors.title").head</a></li>
                    <li><a href="#expos">@content.get("experience.expos.title").head</a></li>
                </ul>
            </nav>
        </div>
        <div class="span10 content">
            <section class="page-header">
                <h1>@content.get("experience.title").head</h1>
                <p class="lead">@content.get("experience.subtitle").head</p>
            </section>

            <section id="business">
                <div class="page-header">
                    <h2>@content.get("experience.business.title").get</h2>
                </div>
                @content.get("experience.business.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

            </section>
            <section id="sectors">
                <div class="page-header">
                    <h2>@content.get("experience.sectors.title").get</h2>
                </div>
                @content.get("experience.sectors.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("experience.sectors.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>
            </section>
            <section id="expos">
                <div class="page-header">
                    <h2>@content.get("experience.expos.title").get</h2>
                </div>
                @content.get("experience.expos.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    <li><a href="@routes.Application.expos("Upcoming")">All upcoming</a></li>
                    @categories.map { category =>
                    <li><a href="@routes.Application.expos(category._2(0).categorySlug)">@category._1</a></li>
                    }
                </ul>
            </section>
        </div>
    </div>
}
