@(tag:String, categories:Map[String,Seq[Expo]], filteredExpos:Seq[Expo])
@main("Expos & Conferences", "Accordo Partners") {
    <div class="row">
        <section class="span12" id="expos">
            <div class="page-header">
                <h2>@tag</h2>
            </div>
            @filteredExpos.map { expo =>
                <address class="span3">
                    <strong><a href="@expo.link">@expo.name</a></strong><br/>
                    @Expos.humanize(expo.date)<br/>
                    @expo.categoryName
                </address>
            }
        </section>
        <section class="span12" id="sectors">
            <div class="page-header">
                <h2>Sectors</h2>
            </div>
            <ul>
                <li><a href="@routes.Application.expos("Upcoming")">All upcoming</a></li>
                @categories.map { category =>
                <li><a href="@routes.Application.expos(category._2(0).categorySlug)">@category._1</a></li>
                }
            </ul>
        </section>
    </div>
}
