@(partners: Seq[Partner])
@main("Partners") {
    <div class="row-fluid">
        <div class="span2">
            <nav class="side">
                <ul data-spy="affix" data-offset-top="240">
                @partners.map { partner =>
                    <li><a href="#partner-@partner.name">@partner.name</a></li>
                }
                    <li><a class="top" href="#">Top</a></li>
                </ul>
            </nav>
        </div>
        <div class="span10 content">
            <div id="intro">
                <section class="page-header">
                    <h1>Partners</h1>
                </section>
            </div>
            <div id="partners">
                <ul>
                @partners.map { partner =>
                    <li id="partner-@partner.name">
                        <div class="card">
                            <h2>@partner.name</h2>
                            <a target="_blank" href="@partner.link"><img src="@partner.logo"></a>
                        </div>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
}
