@(content: Map[String,Seq[String]])
@main(content("solutions.title").head, content("solutions.subtitle").head) {
    <div class="row-fluid">
        <div class="span3">
            <nav>
                <ul>
                    <li><a href="#programs">@content.get("solutions.programs.title").head</a></li>
                    <li><a href="#market-entry">@content.get("solutions.market.title").head</a></li>
                    <li><a href="#innovation-partnering">@content.get("solutions.innovation.title").head</a></li>
                    <li><a href="#fdi">@content.get("solutions.fdi.title").head</a></li>
                    <li><a href="#finance">@content.get("solutions.finance.title").head</a></li>
                </ul>
            </nav>
        </div>

        <div class="span9">
            <section id="programs">
                <div class="page-header">
                    <h2>@content.get("solutions.programs.title").head</h2>
                </div>

                @content.get("solutions.programs.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("solutions.programs.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>
            </section>

            <section id="market-entry">
                <div class="page-header">
                    <h2>@content.get("solutions.market.title").head</h2>
                </div>

                @content.get("solutions.market.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("solutions.market.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>
            </section>

            <section id="innovation-partnering">
                <div class="page-header">
                    <h2>@content.get("solutions.innovation.title").head</h2>
                </div>

                @content.get("solutions.innovation.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("solutions.innovation.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>
            </section>

            <section id="fdi">
                <div class="page-header">
                    <h2>@content.get("solutions.fdi.title").head</h2>
                </div>

                @content.get("solutions.fdi.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                @content.get("solutions.fdi.recipients.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("solutions.fdi.recipients.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>

                @content.get("solutions.fdi.services.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("solutions.fdi.services.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>
            </section>

            <section id="finance">
                <div class="page-header">
                    <h2>@content.get("solutions.finance.title").head</h2>
                </div>

                @content.get("solutions.finance.copy").map { list =>
                    @list.map { copy => <p>@copy</p> }
                }

                <ul>
                    @content.get("solutions.finance.list").map { list =>
                        @list.map { item => <li>@item</li> }
                    }
                </ul>
            </section>
        </div>
    </div>
}
