<div class="row-fluid">

    <div class="span2">
        <nav class="side">
            <ul data-spy="affix" data-offset-top="240">
                <li><a href="/expos/upcoming">All upcoming</a></li>
                <li><a href="/expos/category">Fix this</a></li>
            </ul>
        </nav>
    </div>

    <div class="span10 content">
        <section class="page-header">
            <h1>Expos & conferences</h1>
        </section>

        <section>
            <div class="page-header">
                <h2>@tag</h2>
            </div>
        </section>

        <div id="expos">
            <ul>
            @filteredExpos.map { expo =>
                <li>
                    <address class="card">
                        <strong><a href="@expo.link" target="_blank">@expo.name</a></strong><br/>
                        @Expos.humanize(expo.date)<br/>
                        @expo.categoryName
                    </address>
                </li>
            }
            </ul>
        </div>
    </div>
</div>
